@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* backgrounds & more*/
.Loginhinter {
    background: url('/car_sharing/images/Autoaufstellung.jpg') no-repeat center center;
    background-size: cover;
}
.Registerhinter {
    background: url('/car_sharing/images/registerback.png') no-repeat center center;
    background-size: cover;
}
.Brandback {
    background: url('/car_sharing/images/EcoCar1.jpg') no-repeat center center;
    background-size: cover;
}
.Contback {
    background: url('/car_sharing/images/Contact1.jpg') no-repeat center center;
    background-size: cover;
}
.startbild {
    
    background-size: cover;
    text-align: center;
   min-width: 100%;
    min-height: 1200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   margin-top: -150px;
   align-items: center ;
  }
  .blacksmall, .blackbig, .whitebig, .whitemedium, .whiteandthin, .testclass {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.blacksmall {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 140%;
}
.whitesmall {
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 140%;
    
}

.whiteboxR1 {
    background-color:rgb(255, 255, 255); 
    width:100%;
    height:80px;

}
.blackbig {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 250%;
}
.blackbigxl {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 350%;
}
.whitebig {
    color: white;
    font-weight: bold;
    font-size: 500%;
}

.whitemedium {
    color: white;
    font-weight: bold;
    font-size: 350%;
}
.blackmedium {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 350%;
}
.blackmedium1 {
    color: rgba(0, 0, 0, 0.685);
    font-weight: bold;
    font-size: 350%;
}

.whiteandthin {
    color: white;
    font-weight: 200;
    font-size: 200%;
}

.blackandthin {
    color: rgba(0, 0, 0, 0.637);
    font-weight: 200;
    font-size: 200%;
}
.blackandthinbig {
    color: rgba(0, 0, 0, 0.884);
    font-weight: 200;
    font-size: 300%;
}
.blackandthinsmall {
    color: rgba(0, 0, 0, 0.637);
    font-weight: 200;
    font-size: 100%;
}


.container {
    position: relative;
    text-align: center;
}
.pinkboxR1 {
    background-color:#EFCFD8; 
    width:100%;
    height:60px;

}

/* Contactpage */
.Contacta {
    width: 550px;
    padding: 20px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Titel */
.Contactb {
    margin-bottom: 15px;
    color: #444;
}

/* Eingabefelder */
.Contactd {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.Contactd:focus {
    border-color: #f28aa7; 
    outline: none;
    box-shadow: 0 0 5px rgba(242, 138, 167, 0.5);
}

/* Textarea Contact*/
.Contacte {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    resize: none;
}

.Contacte:focus {
    border-color: #f28aa7;
    outline: none;
    box-shadow: 0 0 5px rgba(242, 138, 167, 0.5);
}

/* Button */
.Contactf {
    width: 100%;
    padding: 12px;
    background: #f28aa7; /* Rosa */
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.Contactf:hover {
    background: #e07793; /* Dunkleres Rosa */
}
.contbox1 {
    background-color:#ffffffc4; 
    width: 100%; 
    height: 850px;
    padding: 45px;  
    text-align: center; 
    margin: 60px; 
    border-radius: 10px;
    align-items: center;
    
}
/* Container */
.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Für Mobilgeräte */
    background-color: #ffffff; 
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Text-Bereich */
.text-contact {
    max-width: 25%;
    text-align: left;
}


/* Buttons */
.button-containercont {
    margin-top: 35px;
}

.btncont {
    display: inline-block;
    background-color: #ff4b78;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
    margin-right: 10px;
}

.btncont:hover {
    background-color: #e63960;
}

.contover {
    background-color:#ffffff; 
    width:100%;
    height:60px;
    top:0;
    z-index: 1;
}
.contover2 {
    background-color:#ffffff; 
    width:100%;
    height:60px;
  
}
.contboxvid {
    position: relative;
    width: 200px; /* Feste Breite für das Video */
    height: 355px; /* Höhe passend zum 9:16-Verhältnis (340 * 16 / 9) */
    margin: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #e07793;
}

/* Video-Styling */
.contboxvid video {
    width: 90%;
    height: 95%;
    object-fit:contain; 
}


/*brandpage */
.video-container video {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70%;
    min-height: auto;
    z-index: 1; /* Video in the Front */
    object-fit: cover; /* Stellt sicher, dass das Video den gesamten Bereich füllt */
    border-radius: 200px; 
    
}


  .featuresR {
    display: flex;
    justify-content: space-between; /* Gleichmäßiger Abstand */
    align-items: center;
    justify-content: center;
}
.greybox {
    background-color:grey; 
    width: 45%; 
    height: 400px;
    padding: 45px;  
    text-align: center; 
    margin: 60px; 
    border-radius: 10px;
    align-items: center;
    
}



.greyboxvid {
    position: relative;
    width: 45%;
    height: 400px;
    padding: 30px;  
    text-align: center; 
    margin: 60px; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.greybox2 {
    width: 45%; 
    height: 400px;
    padding: 30px;  
    text-align: center; 
    margin: 60px; 
    border-radius: 10px;
    align-items: center;
    background: url('/car_sharing/images/planttree3.jpg') no-repeat center center;
    background-size: cover;
}
.featureR {
    background-color: white; /* Weiße Boxen */
    padding: 80px;
    border-radius: 10px;
    flex: 1; /* Alle Boxen gleich groß */
    margin: 40px; /* Abstand zwischen den Boxen */
}

.feature-headerR {
    display: flex;
    align-items: center;
    gap: 10px; /* Abstand zwischen Icon und Text */
    margin-bottom: 10px;
}





/*login register */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #EFCFD8;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e3b9c6;
}

.Classg {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.Classg:hover {
    text-decoration: underline;
}

.registerbox {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 25%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.loginbox {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 35%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.staticPos {
    align-items: center;
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: -500px;
    }
.checkboxA {
        display: flex;
        align-items: center; /* Sorgt für vertikale Ausrichtung */
        gap: 10px; /* Abstand zwischen Checkbox und Text */
    }
    
.checkboxB {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
    }
    
    
    
.checkboxC {
        margin: 0;
        padding: 0;
        display: inline;
        white-space: nowrap; /* Verhindert Zeilenumbruch */
    }

    
 